<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs</title>
</head>
<body>
    <div id="app">
        <form action="" v-on:submit.prevent="guardarTarea">
          <input v-model="nuevaTarea" type="text">
          <input type="submit" value="Guardar">
        </form>
        
        <hr>
        <ul>
          <li v-for="tarea of tareas">{{ tarea }}</li>
        </ul>
        <pre>{{ $data }}</pre>
      </div>
    <script type="module" src="./dist/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>